@media screen and (max-width: 600px) {
  form{
    margin-top: 1px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
}
form{
    margin-top: 10%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#conect{
    width: auto;
}
#banner{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logocesi{
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     margin-bottom: 2px;
     text-align: center;
}

body{
     background-image: url("img/bk.jpg") ;
     //background-size: 100%;

}

.blackMarket{
    margin: 10px 20px 10px 10px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    font-family: 'Roboto', sans-serif;

}

.blackMarket:hover{

}
#mbox{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blackMarket p,h3 {
    //color: white;
}

.img_pr{
    margin: 10px 10px 10px 10px;

}


#btnAjout{
    color: white;
}
#carous{
    width: 100%;
    height: 100%;

}

#footer{
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 1rem;
  text-align: center;
}

#recherch{
    width: 150px;
}
.menu_page{
    text-align: left;
    display: inline-block;
}

#Titre{
    width: 500px;
    display: inline-block;
}

#DateEven{
    margin-top: 20px;
    color: aliceblue;

}
